apiVersion: v1
kind: Service
metadata:
  name: sekios-api
  namespace: sekios
  labels:
    app: sekios
    component: api
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.api.port }}
      protocol: TCP
      name: http
  selector:
    app: sekios
    component: api
---
apiVersion: v1
kind: Service
metadata:
  name: sekios-frontend
  namespace: sekios
  labels:
    app: sekios
    component: frontend
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: sekios
    component: frontend
